################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NETUtilities/.vs/NETUtilities/v15
/NETUtilities/Utilities/obj/Debug
/NETUtilities/Utilities/bin/Debug
/NETUtilities/packages
/NETUtilities/Tests/bin/Debug
/NETUtilities/Tests/obj/Debug
